<form  class="form-horizontal" (submit)="changePassword()">
  <fieldset>
    <div class="validation-summary" *ngIf="!valid">
      <span >
        
      </span>
    </div>
    <div class="form-group">
      <div class="input-group view">
        <input required name="currentpassword" [(ngModel)]="changePasswordModel.currentPassword" type="password" class="form-control" id="inputEmail" placeholder=" Current Password">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group view">
        <input #newpassword="ngModel" required name="newpassword" [(ngModel)]="changePasswordModel.newPassword" type="password" class="form-control" id="inputPassword" placeholder=" New Password">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group view">
        <input #confirmpassword="ngModel" required  name="confirmpassword" [(ngModel)]="changePasswordModel.confirmNewPassword" type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
      </div>
    </div>
  </fieldset>
  <div style="text-align: right;">
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
  </div>
</form>