<form class="form-horizontal">
  <fieldset>
    
    <div class="form-group">
      <div class="input-group view">
        <input type="password" class="form-control" id="inputEmail" placeholder=" Current Password">
      </div>

    </div>
    <div class="form-group">
      <div class="input-group view">
        <input type="password" class="form-control" id="inputPassword" placeholder=" New Password">

      </div>

    </div>
    <div class="form-group">
      <div class="input-group view">
        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">

      </div>

    </div>

  
  </fieldset>
</form>