<div class="container">

  <div style="margin-top:15px; margin-bottom:15px;">
    <ul class="breadcrumbs">
      <li class="bread-item">
        <a routerLink="/dashboard">Dashboard</a>
        <i class="fa fa-angle-right" aria-hidden="true" style="margin-left:5px;"></i>
      </li>
      <li class="bread-item">Employees</li>
    </ul>
  </div>

  <div class="card">
    <div class="card-block">
      <div *ngIf="profile">
        <button *ngIf="profile.role === 'admin' || profile.role === 'hr'" type="button" class="btn btn-primary" (click)="openAddEmployeeModal(newEmployeeForm)">
      Add Employee
    </button>
      </div>
      <table class="table m20-top">
        <tr>
          <!--<th>Id</th>-->
          <th>Name</th>
          <th>Role</th>
          <th>Emp Id</th>
          <th>reporting Manager </th>
          <th *ngIf="profile && (profile.role==='admin')">Options</th>
        </tr>
        <tr *ngFor="let emp of Employees">
          <!--<td>{{emp.id}}</td>-->
          <td>{{emp.firstname + ' ' + emp.lastname}}</td>
          <td>{{ roleNames[emp.role]}}</td>
          <td>{{ emp.empid }}</td>
          <td>{{ getEmployeeByEmpId(emp.reportingmanger).firstname + ' ' + getEmployeeByEmpId(emp.reportingmanger).lastname }}</td>
          <td *ngIf="profile && profile.role==='admin'">
            <a class="opt" *ngIf="emp.id != 1" (click)="editEmployee(emp, newEmployeeForm)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a class="opt" *ngIf="emp.id != 1" (click)="deleteEmployee(emp)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>


<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form #newEmployeeForm="ngForm" (submit)="addEmployee()" method="POST" class="form" [ngClass]="{ 'submitted': IsSubmitted}">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">New Employee</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="table1">
            <div class="layout-two">
              <div class="column">
                <div class="form-group">
                  <label for="firstname">Firstname*</label>
                  <input type="text" name="firstname" required class="form-control" [(ngModel)]="newEmployee.firstname" />
                </div>
              </div>
              <div class="column">
                <div class="form-group">
                  <label for="lastname">lastname*</label>
                  <input type="text" name="lastname" required class="form-control" [(ngModel)]="newEmployee.lastname" />
                </div>
              </div>
            </div>
            <div class="layout-two">
              <div class="column">
                <div class="form-group">
                  <label for="empid">Employee Id*</label>
                  <input type="number" name="empid" required class="form-control" [(ngModel)]="newEmployee.empid" />
                </div>
              </div>
              <div class="column">
                <div class="form-group">
                  <label for="password">Password<span *ngIf="isEdit ? false: true">*</span></label>
                  <input type="password" [required]="isEdit ? null : ''" name="password" class="form-control" [(ngModel)]="newEmployee.password"/>
                </div>
              </div>
            </div>
            <div class="layout-two">
              <div class="column">
                <div class="form-group">
                  <label for="emailid">Email Id*</label>
                  <input type="text" required name="emailid" class="form-control" [(ngModel)]="newEmployee.emailid" />
                  <span class="">@evoketechnologies.com</span>
                </div>
              </div>
              <div class="column">
                <div class="form-group">
                  <label for="report">Reporting Manager*</label>
                  <select required *ngIf="employeesLoaded" class="form-control" name="reportingmanger" [(ngModel)]="newEmployee.reportingmanger">
                    <option value="0">Select Reporting Manager</option>
                    <option *ngFor="let emp of Employees" [value]="emp.empid" [disabled]="emp.empid==newEmployee.empid">
                      {{ emp.firstname + ' ' + emp.lastname }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="layout-two">
              <div class="column">
                <div class="form-group">
                  <label for="role">Role*</label>
                  <select required class="form-control" name="role" [(ngModel)]="newEmployee.role">
                    <option value="user">Employee</option>
                    <option value="hr">HR</option>
                    <option value="admin">Admin</option>
                  </select>
                </div>
              </div>
              <div class="column">
                <div class="form-group">
                  <button type="button" class="btn btn-link show-btn" (click)="expandpersonalfields = !expandpersonalfields;">
                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                      {{ expandpersonalfields ? 'hide' : 'show'}} personal fields
                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="layout-two" *ngIf="expandpersonalfields">
              <div class="column">
                <div class="form-group">
                  <label for="designation">Designation</label>
                  <input type="text" name="designation" class="form-control" [(ngModel)]="newEmployee.designation" />
                </div>
              </div>
              <div class="column">
                <div class="form-group">
                    <label for="practise">Practise</label>
                    <input type="text" name="practise" class="form-control" [(ngModel)]="newEmployee.practise" />
                </div>
              </div>
            </div>
            <div class="layout-two" *ngIf="expandpersonalfields">
              <div class="column">
                <div class="form-group">
                  <label for="practiserole">Practise Role</label>
                  <input type="text" name="practiserole" class="form-control" [(ngModel)]="newEmployee.practiserole" />
                </div>
              </div>
              <div class="column">
                <div class="form-group">
                    <label for="dob">Date Of Birth</label>
                    <input type="date" name="dob" class="form-control" [(ngModel)]="newEmployee.dob" />
                </div>
              </div>
            </div>
            <div class="layout-two" *ngIf="expandpersonalfields">
              <div class="column">
                <div class="form-group">
                  <label for="doj">Date Of Joining</label>
                  <input type="date" name="doj" class="form-control" [(ngModel)]="newEmployee.doj" />
                </div>
              </div>
              <div class="column">
                <div class="form-group">
                    <label for="jobfamily">Job Family</label>
                    <input type="text" name="jobfamily" class="form-control" [(ngModel)]="newEmployee.jobfamily" />
                </div>
              </div>
            </div>
            <div class="layout-two" *ngIf="expandpersonalfields">
              <div class="column">
                <div class="form-group">
                  <label for="jobgrade">Job Grade</label>
                  <input type="text" name="jobgrade" class="form-control" [(ngModel)]="newEmployee.jobgrade" />
                </div>
              </div>
              <div class="column">
                <div class="form-group">
                    <label for="dept">Department</label>
                    <input type="text" name="department" class="form-control" [(ngModel)]="newEmployee.department" />
                </div>
              </div>
            </div>
            <div class="layout-two" *ngIf="expandpersonalfields">
              <div class="column">
                <div class="form-group">
                  <label for="location">Location</label>
                  <input type="text" name="location" class="form-control" [(ngModel)]="newEmployee.location" />
                </div>
              </div>
              <div class="column">
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" name="address" rows="3" [(ngModel)]="newEmployee.address"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Save changes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>