.month-timesheet {
    td {
        text-align: center;
    }
    .days-head {
        td {
            padding: 0;
        }
    }
}

.size {
    width: 450px;
}

.text {
    width: 180px;
}

.align-right {
    text-align: right;
}

.btn-log-work {
    min-width: 10px;
}

.submitted1 {
    background-color: #dddddd
}

.calender-container {
    .calender-monthly {
        td.calender-day {
            padding: 0;
            position: relative;
            .mask {
                width: 100%;
                height: 100%;
                background-color: black;
                position: absolute;
                top: 0px;
                opacity: 0.5;
                display: none;
            }
            .date-time {
                cursor: pointer;
                position: relative;
                .sheet-status {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                }
                .fa {
                    display: none;
                }
                &.pending {
                    .fa-exclamation {
                        display: inline;
                        color: yellow;
                    }
                }
                &.approved {
                    .fa {
                        display: none;
                    }
                    .fa-check {
                        display: inline;
                        color: green;
                    }
                }
                &.declined {
                    .fa {
                        display: none;
                    }
                    .fa-times {
                        display: inline;
                        color: red;
                    }
                }
                &.approved+.mask {
                    display: block;
                }
                &.submitted+.mask {
                    display: block;
                }
                &.declined+.mask {
                    display: none;
                }
            }
        }
    }
}

.accord {
    border: 1px solid #18BC9C;
    margin-top: 5px;
    .accord-head {
        padding: 10px;
        color: white;
        background-color: #18BC9C;
        cursor: pointer;
    }
    .accord-content {
        padding: 15px;
        display: none;
        &.expand {
            display: block;
        }
    }
}