.month-timesheet {
    td {
        text-align: center;
    }

    .days-head {
        td {
            padding: 0;
        }
    }
}

.size {
    width: 450px;
}

.text {
    width: 180px;
}

.align-right {
    text-align: right;
}



 