<div class="container" [ngClass]="{'fluid-container': isMonth, 'container': isWeek}">
  <div class="m15-bottom">
    <ul class="breadcrumbs">
      <li class="bread-item">
        <a routerLink="/dashboard">Dashboard</a>
        <i class="fa fa-angle-right" aria-hidden="true" style="margin-left:5px;"></i>
      </li>
      <li class="bread-item">Timesheets</li>
    </ul>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="my-timesheets">
        <div class="underline m15-bottom">
          <h4 class="heading">My Timesheet</h4>
        </div>
        <div class="clearfix">
          <button routerLink="/my-approvals" class="btn btn-primary pull-right" *ngIf="profile && profile.managerfor != '0'">Waiting for you approvals</button>
        </div>
        <div *ngFor="let project of myProjects" class="accord">
          <div class="accord-head" (click)="project.expand = !project.expand;">
            {{ project.name}}
          </div>
          <div class="accord-content" [ngClass]="{'expand': project.expand}" *ngIf="calenderDays.length > 0">
            <div class="row m15-bottom">
              <div class="col-md-4">
                <button class="btn btn-primary icon" (click)="navigateToCalender()">Previous Month</button>
              </div>
              <div class="col-md-4 text-center">
                {{ MonthNames[calenderDate.getMonth()]}}, {{ calenderDate.getFullYear()}}
              </div>
              <div class="col-md-4 btn-group btn-toggle calender-view-toggle">
                <button class="btn btn-primary icon" (click)="navigateToCalender(1)">Next Month</button>
              </div>
            </div>
            <div class="calender-container">
              <table class="table table-bordered calender-monthly">
                <thead class="bg">
                  <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let week of calenderDays">
                    <td *ngFor="let day of week.days" class="calender-day">
                      <div class="date-time" *ngIf="day.dayCount" (click)="openLogWorkmodal(project, day.date)">
                        <span class="date">{{day.dayCount}} </span>
                        <span class="time">{{ getLoggedHours(project, day.date) }}</span>
                        <!--<span *ngIf="day.date">{{ day.date.getDate() + ' ' + day.date.getMonth()}}</span>-->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="clearfix" *ngIf="monthDays.length > 0 && isLoaded.isProjectsLoaded &&  isLoaded.isSubmissionsLoaded && isLoaded.isTimesheetsLoaded">
              <button [disabled]="checktimesheetsubmisionall(myProjects, monthDays[0])" (click)="submittimesheets()" class="btn btn-success pull-right"> 
                {{isTimesheetSubmited}}
                <span *ngIf="isMonth && monthDays.length > 0">
                  Timesheet of {{ MonthNames[monthDays[0].getMonth()] }}, {{ monthDays[0].getFullYear() }}
                </span>
                <span *ngIf="isWeek && weekDays.length > 0"> Timesheet of {{ MonthNames[weekDays[0].getMonth()] }}, {{ weekDays[0].getFullYear() }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="logWorkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <legend>Log Work</legend>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" (submit)="logWork()">
          <div class="form-group">
            <label for="projectname">Project</label>
            <input [attr.disabled]="logModalData.ispreload" required type="text" class="form-control" id="projectname" name="projectname"
              [(ngModel)]="logModalData.project.name" />
          </div>
          <div class="form-group">
            <label for="timesheetdate">Timesheet Date (mm/dd/yyyy)</label>
            <input [(ngModel)]="logModalData.timesheetdate" required type="date" class="form-control" name="timesheetdate" [attr.disabled]="logModalData.ispreload"
            />
          </div>
          <div class="form-group">
            <label for="logwork">Hours</label>
            <input [(ngModel)]="logModalData.loggedhours" required type="number" class="form-control" name="logwork" />
          </div>
          <div class="form-group">
            <label for="timesheetcomment">Comments</label>
            <textarea class="form-control" name="timesheetcomment" [(ngModel)]="logModalData.timesheetcomment" rows="3"></textarea>
          </div>
          <div style="text-align: right;">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="declineCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <legend>Decline Comment</legend>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" (submit)="updateStatus('D')">
          <div class="form-group">
            <label for="timesheetcomment">Comment</label>
            <textarea class="form-control" name="declinecomment" [(ngModel)]="declinecomment" rows="3"></textarea>
          </div>
          <div style="text-align: right;">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-danger" (click)="closedeclinemodal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>