<div class="container">

  <div class="row login">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-block">
          <form class="form-horizontal" method="POST" (submit)="Login()">
            <fieldset>
              <legend>Login</legend>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Username </span>
                  <input type="text" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="user.email" name="email" />

                </div>

              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Password</span>
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" name="password" />

                </div>

              </div>

              <button type="submit" class="btn btn-primary btn-sm">Submit</button>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
