<div style=" background-image: url('/assets/images/bg-9-full.jpg'); margin-top: -12px;">
  <div class="container" style="height: 100vh; width: 100vh;">
    <div class="" *ngIf="!checkUser">
      Loading...
    </div>
    <div class="row login" *ngIf="checkUser">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card" style="margin-top: 100px;width: 530px; margin-left: -100px; background-color: rgb(221, 221, 221); border: 1px solid rgba(0, 0, 0, 0.125);">
          <div style="margin-left: 138px;">
            <img src="/assets/images/Evoke_logo.png">
          </div>
          <div class="card-block">
            <form class="form-horizontal" method="POST" (submit)="Login()" #loginForm="ngForm">
              <fieldset>
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id="inputEmail" placeholder="EmailId or EmpId " [(ngModel)]="user.username" name="username"
                      required />
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" name="password"
                      required />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Log in&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></button>
                <a class="btn btn-link" data-toggle="modal" data-target="#forgotPassModal" style="text-decoration: underline;">
                    Forgot Password?
                  </a>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="forgotPassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="form-horizontal" method="POST" (submit)="submitforgotpwd()" #forgotpwdForm="ngForm">
            <div class="modal-header">
              <h5 class="modal-title">
                <legend>Forgot Password</legend>
              </h5>
            </div>
            <div class="modal-body">
              <div>
                <input name="forgotpwd" required [(ngModel)]="forgotpassword" type="text" id="empid" class="form-control" placeholder="EmailId or EmpId">
              </div>
              <div class="clearfix" style="margin-top: 15px;">
                <button type="button" class="btn btn-danger pull-right" style="margin-left:15px;" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="submit" class="btn btn-success pull-right" >Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>