<div class="container">
    <div style="margin-top:15px; margin-bottom:15px;">
        <ul class="breadcrumbs">
            <li class="bread-item">
                <a routerLink="/dashboard">Dashboard</a>
                <i class="fa fa-angle-right" aria-hidden="true" style="margin-left:5px;"></i>
            </li>
            <li class="bread-item">Profile</li>
        </ul>
    </div>

    <div>
        <h4>Employee Details</h4>
        <table class="table">
            <tbody>
                <tr>
                    <th>Job Family</th>
                    <td>{{ profile.jobfamily}}</td>
                </tr>
                <tr>
                    <th>Job Grade</th>
                    <td>{{ profile.jobgrade }}</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>{{ profile.department }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ profile.location }}</td>
                </tr>
                <tr>
                    <th>Report To</th>
                    <td>{{ profile.reportingmanger }}</td>
                </tr>
                <tr>
                    <th>Date Of Joining</th>
                    <td>{{ profile.dob }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="persnal">
        <h4>Personal Details <i class="fa fa-pencil-square-o" (click)="doEditProfile()" aria-hidden="true"></i></h4>
        <table class="table">
            <tr>
                <td>First Name</td>
                <td>
                    <span *ngIf="isEdit == false" >{{ profile.firstname}}</span>
                    <input *ngIf="isEdit" class="form-control" type="text" [(ngModel)]="editProfile.firstname" />
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <span *ngIf="isEdit == false">{{ profile.lastname}}</span>
                    <input *ngIf="isEdit" class="form-control" type="text" [(ngModel)]="editProfile.lastname" />
                </td>
            </tr>
            <tr>
                <td>DOB</td>
                <td>
                    <div>
                        <span *ngIf="isEdit == false">{{ profile.dob}}</span>
                        <input *ngIf="isEdit" class="form-control" type="date" [(ngModel)]="editProfile.dob" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <span *ngIf="isEdit == false">{{ profile.address}}</span>
                    <input *ngIf="isEdit" class="form-control" type="text" [(ngModel)]="editProfile.address" />
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <span *ngIf="isEdit == false">{{ profile.email}}</span>
                    <input *ngIf="isEdit" class="form-control" type="text" [(ngModel)]="editProfile.email" />
                </td>
            </tr>
            <tr>
                <td>Emergency Contact</td>
                <td>
                    <span *ngIf="isEdit == false">{{ profile.emgCon}}</span>
                    <input *ngIf="isEdit" class="form-control" type="text" [(ngModel)]="editProfile.emgCon" />
                </td>
            </tr>



        </table>
        <div>
            <button class="btn btn-primary btn-sm" *ngIf="isEdit" (click)="handleSavechanges()">
        Save changes
      </button>
            <button class="btn btn-primary btn-sm" *ngIf="isEdit" (click)="isEdit = false;">
        Cancel
      </button>
        </div>

    </div>
</div>


<!--<div class="_slider-container m20-top">
    <div class="_slider-wrapper">
        <div class="_slider" [style.width.px]="sliderWidth" [style.left.px]="sliderLeft">
            <div class="_slide" [style.width.px]="slideWidth">
                <img src="../assets/slider-practise.jpeg" class="_slide-img" />
            </div>
            <div class="_slide" [style.width.px]="slideWidth">
                <img src="../assets/slider-practise.jpeg" class="_slide-img" />
            </div>
            <div class="_slide" [style.width.px]="slideWidth">
                <img src="../assets/slider-practise.jpeg" class="_slide-img" />
            </div>
            <div class="_slide" [style.width.px]="slideWidth">
                <img src="../assets/slider-practise.jpeg" class="_slide-img" />
            </div>
            <div class="_slide" [style.width.px]="slideWidth">
                <img src="../assets/slider-practise.jpeg" class="_slide-img" />
            </div>
        </div>
    </div>
</div>-->

