<div class="container">
	<div class="page login-page">
		<div>
			Login to Get lToken from server <span [ngClass]="{'hidden': hideErrMsg}">(username and password not matched)</span>
		</div>
		<form class="form-inline" method="POST" (submit)="getlToken()">
			<div class="form-group">
				<input name="username" required type="text" [(ngModel)]="userCreds.username" class="form-control" id="exampleInputEmail3"
				 placeholder="EmailId or EmpId">
			</div>
			<div class="form-group">
				<input name="password" required type="password" [(ngModel)]="userCreds.password" class="form-control" id="exampleInputPassword3"
				 placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default"> Get Token </button>
		</form>
	</div>
	<div class="after-login" *ngIf="isAuthenticated">
		<div>
			<div>
				lToken : <span>{{ userCreds.lToken}}</span>
			</div>
			<div>
				Is DB Admin : <span>{{ profile.role }}</span>
			</div>
		</div>
		<div *ngIf="afterLoadingData">
			<div>
				<button class="btn btn-default" (click)="activeTab = 'employees';getList('employees')" [ngClass]="{'btn-active': activeTab === 'employees'}"> Employees </button>
				<button class="btn btn-default" (click)="activeTab = 'projects'; getList('projects')" [ngClass]="{'btn-active': activeTab === 'projects'}"> Projects </button>
				<button class="btn btn-default" (click)="activeTab = 'profile'" [ngClass]="{'btn-active': activeTab === 'profile'}"> Profile </button>
				<button class="btn btn-default" (click)="activeTab = 'timesheets';getList('timesheets')" [ngClass]="{'btn-active': activeTab === 'timesheets'}"> Timesheets </button>
				<button class="btn btn-default" (click)="activeTab = 'allocation'; getList('allocations')" [ngClass]="{'btn-active': activeTab === 'allocations'}"> Allocation </button>
			</div>
			<div class="tab-content">
				<div class="tab m20-top" [ngClass]="{'active': activeTab === 'employees'}">
					<div>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addEmployeeModal">
							Add Employee
						</button>
					</div>
					<div>
						<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<form (submit)="addEmployee()" method="POST" class="form" [ngClass]="{ 'submitted': IsSubmitted}">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">New Employee</h4>
										</div>
										<div class="modal-body">
											<table class="table">
												<tr>
													<td>firstname</td>
													<td>
														<input type="text" name="firstname" required class="form-control" [(ngModel)]="newEmployee.firstname" />
													</td>
												</tr>
												<tr>
													<td>lastname</td>
													<td>
														<input type="text" name="lastname" required class="form-control" [(ngModel)]="newEmployee.lastname" />
													</td>
												</tr>
												<tr>
													<td>empid</td>
													<td>
														<input type="text" name="empid" required class="form-control" [(ngModel)]="newEmployee.empid" />
													</td>
												</tr>
												<tr>
													<td>emailid</td>
													<td>
														<input type="text" required name="emailid" class="form-control" [(ngModel)]="newEmployee.emailid" />
														<span>@evoketechnologies.com</span>
													</td>
												</tr>
												<tr>
													<td>personalemailid</td>
													<td>
														<input type="text" name="personalemailid" class="form-control" [(ngModel)]="newEmployee.personalemailid" />
													</td>
												</tr>
												<tr>
													<td>designation</td>
													<td>
														<input type="text" name="designation" class="form-control" [(ngModel)]="newEmployee.designation" />
													</td>
												</tr>
												<tr>
													<td>reportingmanager (int)</td>
													<td>
														<select class="form-control" name="reportingmanager" [(ngModel)]="newEmployee.reportingmanager">
														<option value="0">Select Reporting Manager</option>
														<option *ngFor="let emp of Employees" [ngValue]="emp.empid" >
															{{ emp.firstname + ' ' + emp.lastname }}
														</option>
													</select>
													</td>
												</tr>
												<tr>
													<td>practise</td>
													<td>
														<input type="text" name="practise" class="form-control" [(ngModel)]="newEmployee.practise" />
													</td>
												</tr>
												<tr>
													<td>practiserole</td>
													<td>
														<input type="text" name="practiserole" class="form-control" [(ngModel)]="newEmployee.practiserole" />
													</td>
												</tr>
												<tr>
													<td>role</td>
													<td>
														<select class="form-control" name="role" [(ngModel)]="newEmployee.role">
															<option value="user">User</option>
															<option value="admin">Admin</option>
														</select>
													</td>
												</tr>
												<tr>
													<td>dob</td>
													<td>
														<input type="date" name="dob" class="form-control" [(ngModel)]="newEmployee.dob" />
													</td>
												</tr>
												<tr>
													<td>doj</td>
													<td>
														<input type="date" name="doj" class="form-control" [(ngModel)]="newEmployee.doj" />
													</td>
												</tr>
												<tr>
													<td>jobfamily</td>
													<td>
														<input type="text" name="jobfamily" class="form-control" [(ngModel)]="newEmployee.jobfamily" />
													</td>
												</tr>
												<tr>
													<td>jobgrade</td>
													<td>
														<input type="text" name="jobgrade" class="form-control" [(ngModel)]="newEmployee.jobgrade" />
													</td>
												</tr>
												<tr>
													<td>department</td>
													<td>
														<input type="text" name="department" class="form-control" [(ngModel)]="newEmployee.department" />
													</td>
												</tr>

												<tr>
													<td>location</td>
													<td>
														<input type="text" name="location" class="form-control" [(ngModel)]="newEmployee.location" />
													</td>
												</tr>
												<tr>
													<td>address</td>
													<td>
														<textarea class="form-control" name="address" rows="3" [(ngModel)]="newEmployee.address"></textarea>
													</td>
												</tr>

											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-default">Save changes</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<table class="table">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Role</th>
						</tr>
						<tr *ngFor="let emp of Employees">
							<td>{{emp.id}}</td>
							<td>{{emp.firstname + ' ' + emp.lastname}}</td>
							<td>{{ emp.role}}</td>
						</tr>
					</table>
				</div>
				<div class="tab" [ngClass]="{'active': activeTab === 'projects'}">
					<table class="table m20-top">
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Employees</th>
						</tr>
						<tr *ngFor="let project of Projects">
							<td>{{project.id}}</td>
							<td>{{project.name}}</td>
							<td>
								<div>
									<button (click)="project.showEmp = !project.showEmp"> Toggle Employees</button>
								</div>
								<div *ngIf="project.showEmp">
									<table class="table">
										<tr>
											<th>Emp Id</th>
											<th>Name</th>
										</tr>
										<tr *ngFor="let emp of project.Employees">
											<td>{{emp.empid}}</td>
											<td>{{emp.firstname + ' ' + emp.lastname}}</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="tab" [ngClass]="{'active': activeTab === 'profile'}">
					<div>
						<table class="table">
							<tr>
								<td> Firstname </td>
								<td> {{ profile.firstname }}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="tab" [ngClass]="{'active': activeTab === 'timesheets'}">
					timesheets
				</div>
				<div class="tab" [ngClass]="{'active': activeTab === 'allocations'}">
					Allocation
				</div>
			</div>
		</div>
	</div>
</div>