.calender-view-toggle {
    display: flex;
    justify-content: flex-end;
}
.calender-container {
    display: flex;
    .calender-monthly {
        thead th {
            border-bottom-width: 1px;
        }
        td {
            position: relative;
            height: 80px;
            width: 100px;
            perspective: 1000px;
            & .date-time-view {
                display: flex;
                justify-content: center;
                height: 100%;
                align-items: center;
                & > .date {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    opacity: 0.5;
                }
                & > .time {
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            &:focus > .flipper {
                transform: rotateY(180deg);
            }
        }
        td:nth-child(6),
        td:nth-child(7) {
            background: #efefef;
        }
    }
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
}