/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "bootswatch";
@import 'dashboard';
@import 'footer';
@import 'login';
@import 'node_modules/toastr-ng2/toastr';
body {
    padding: 60px 0;
}

.quote {
    margin-top: 20px;
    .text-capitalize {
        color: #ddd;
    }
    blockquote {
        background-color: #fafafa;
        .fa {
            margin-right: 10px;
        }
    }
}

.breadcrumbs {
    overflow: hidden;
    list-style: none;
    padding: 0;
    .bread-item {
        float: left;
        margin-right: 10px;
        &.last {
            clear: both;
        }
    }
}

.btn {
    cursor: pointer;
}

.m20-top {
    margin-top: 20px;
}

.m15-top {
    margin-top: 15px;
}

.table {
    .table-head {
        font-weight: bold;
    }
}

.p0 {
    padding: 0;
}

.p20-btm {
    padding-bottom: 20px;
}

.table.timesheet-month {
    tr {
        td {
            padding: 2px;
            .btn {
                padding: 5px;
            }
        }
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.navbar-nav {
    .nav-link {
        cursor: pointer;
    }
    .dropdown-menu {
        a.dropdown-item {
            color: inherit;
            &:hover {
                color: #fff;
                text-decoration: none;
                background-color: #2C3E50;
            }
        }

        &.right-pos {
            left: initial;
            right: 0px;
        }
    }
}