
/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "bootswatch";
@import 'dashboard';
@import 'footer';
@import 'login';
body {
  padding: 60px 0;
}

.quote {
  margin-top: 20px;
  .text-capitalize {
    color: #ddd;
  }
  blockquote {
    background-color: #fafafa; 
    .fa {
      margin-right: 10px;
    }
  }
}
